.about-me{
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin: 50px auto 0px auto;
}

.about-text{
    width: 50%;
}

p{
    color: #E1E1E1;
font-family: 'Inter';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 41px; /* 170.833% */
}

.aboutme-img{
    width: 250px;
height: 250px;
flex-shrink: 0;
margin-top: 200px;
}