.intro{
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    margin: 150px auto 50px auto;
} 
.intro-text{
    width: 50%;
}

.mobile-view{
    display: none;
}
h2{
    color: #FFF;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

h4{
    color: #B3B3B3;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.intro-text p{
    color: #fff;;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.intro-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: transparent;
    margin-top: 50px;
}

@media (max-width: 576px) {
    .intro{
        padding: 0px;
    }
    .desktop-view{
        display: none;
    }
    .mobile-view{
        display: block;
        text-align: center;
    }
    .intro-text{
        width: 90%;
    }
    .intro-text h2{
        font-size: 34px;
        text-align: center;
    }
    .intro-text h4{
        position: relative;
        width: 50%;
        left: 180px;
    }
    .intro-text p {
        margin-left: 0px;
        width: 100%;
    }
  }