.quote{
    width: 80%;
    margin: 100px auto 50px; 
    text-align: center;
}

.quote h1{
    margin: 70px;
    width: 90%;
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.quote p{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: -50px;
}

@media (max-width: 576px) {
    .quote{
        width: 100%;
    }
    .quote h1{
        width: 80%;
        font-size: 32px;
               
    }
  }


